@{
    ViewBag.Title = "Baroque";
}
<div class="container-fluid content_padding">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="list-group">
                <a href="~/Home/Baroque" class="list-group-item list-group-item-action active">巴洛克音樂</a>
                <a href="~/Home/Classical" class="list-group-item list-group-item-action">古典主義音樂</a>
                <a href="~/Home/Romantic" class="list-group-item list-group-item-action">浪漫主義音樂</a>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="col-12 col-md-12">
                <div class="item">
                    <h3>巴洛克音樂（1600年～1750年）</h3>
                    <p>
                        在巴洛克時代，器樂成為主導，同時大多數的音樂形式也在這個時代定義。對位法是這時間在器樂及聲樂中其中一個的主要影響。
                        雖然宗教傳統音樂也獲得延續，卻被世俗音樂的發展超越。其中的發展包括奏鳴曲、協奏曲、大協奏曲。

                        很多的巴洛克時代音樂也是為了即興創作而設，使用了作曲家使用數字低音讓演奏者充實和裝飾。 鍵琴樂器，尤其是大鍵琴，是一個主導的樂器。 優律的開始也打開了彈奏所有調及轉調的可能性。

                        很多的巴洛克時代音樂有具有通奏低音的特色，由一個鍵琴樂器，可能是大鍵琴或風琴（有時候由魯特琴代替）、一個低音樂器，例如一個維奧爾琴或低音管組成。當期有三位傑出的作曲家：約翰·塞巴斯蒂安·巴哈，
                        格奧爾格·弗里德里希·韓德爾及安東尼奧·韋瓦第，除此以外，在這個時期有很多的活躍的作曲家，其中一些作出了重大的貢獻。
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-12" align=center>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Antonio_Vivaldi.jpg/330px-Antonio_Vivaldi.jpg"
                     class="famous_Introduction img-thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Johann_Sebastian_Bach.jpg/330px-Johann_Sebastian_Bach.jpg"
                     class="famous_Introduction img-thumbnail">
            </div>
        </div>
    </div>
</div>
