@{
    ViewBag.Title = "Classical";
}
<div class="container-fluid content_padding">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="list-group">
                <a href="~/Home/Baroque" class="list-group-item list-group-item-action">巴洛克音樂</a>
                <a href="~/Home/Classical" class="list-group-item list-group-item-action active">古典主義音樂</a>
                <a href="~/Home/Romantic" class="list-group-item list-group-item-action">浪漫主義音樂</a>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="col-12 col-md-12">
                <div class="item">
                    <h3>古典主義音樂（1750年～1820年）</h3>
                    <p>
                        古典音樂時期的音樂是以主音音樂見稱，或帶著伴奏的明顯旋律。 這些新的調子偏向和人聲相似，而且可用於演唱。它令作曲家取代了演唱者成為音樂的焦點。因比器樂很快地取代了歌劇
                        及其他詠唱形式（例如神劇）。器樂成為了音樂聽眾的口味及大作曲家的縮影。但是，歌劇並沒有因此消失。在古典音樂時期，有數名作曲家開始為了普羅大眾製作他們母語的歌劇（之前的歌劇普遍是義大利語）。

                        隨著聲樂的地位逐漸被強烈和清晰的旋律取代，對位法更加大受歡迎，常常在一個作品完結或在樂章使用。取而代之，簡單的樣式，例如琶音及鋼琴音樂中阿爾貝蒂低音（以左手為主使用重複樣式的伴奏）用來使作品的樂章在沒有造成額外的混亂聲音下快活起來。這個時候流行的器樂由數個優律形式主導：奏鳴曲，交響曲，協奏曲。但當時還沒有像現今的音樂理論一樣獲得定義或教導。這三者也是派生自奏鳴曲式，它既覆蓋了整個作品，亦是單一樂章的結構。奏鳴曲式在古典音樂時期發展成熟，直至19世紀也成為了樂器作品的主要形式。

                        古典音樂時期早期迎來了曼海姆樂派，它包括了約翰·斯塔米茨、弗朗茲·克薩韋爾·里赫特、卡爾·斯塔米茨及克里斯蒂安∙卡納比赫等多位作曲家。它對約瑟夫·海頓發揮了深刻的影響力，並經由他影響了隨後的歐洲音樂。沃爾夫岡·阿馬德烏斯·莫札特是古典音樂時期的中心人物，他在所有範疇的非凡度及產生的變化定義了我們對這個時間的感覺。路德維希·范·貝多芬及弗朗茨·舒伯特是過渡性作曲家，他們擴展了時下的流派、形式、甚至是音樂的功能，將音樂引領到浪漫時期。
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-12" align=center>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Beethoven.jpg/330px-Beethoven.jpg"
                     class="famous_Introduction img-thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Wolfgang-amadeus-mozart_1.jpg/330px-Wolfgang-amadeus-mozart_1.jpg"
                     class="famous_Introduction img-thumbnail">
            </div>
        </div>
    </div>
</div>