@{
    ViewBag.Title = "音樂史";
}
<div class="row">
    <div class="col-12">
        <div class="col-12 col-md-12">
            <div class="item">
                <h3>音樂史</h3>
                <p>
                    音樂存在於每個已知的文明，不論過去或現在，在不同時間和地點也有很大的變化。
                    世界上所有的人民，包括了孤立的民族，也有它的音樂形式，可以認為人類始祖在不同人種分散在世界各地之前已知曉音樂。所以音樂很可能已存在55,000年以上。第一個音樂或許在非洲發明，隨後演變為人類生活的一個基本部份。

                    一個文明的音樂受著該文明的其他層面影響，包括社會、經濟、經歷、氣候和所獲得的科技。音樂所表達的情感及想法，音樂演奏及聽眾的情景，以及對樂手和作曲者的態度在不同的地域和時期也大有不同。「音樂歷史」是音樂學的一個分枝，它時間順序對音樂的變化及發展（尤其是西方藝術音樂）進行研究。
                </p>
            </div>
        </div>
        <div class="col-12 col-md-12" align=center>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/David-harp.jpg/330px-David-harp.jpg"
                 class="famous_Introduction img-thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Harp-Sassanid.png/330px-Harp-Sassanid.png"
                 class="famous_Introduction img-thumbnail">
        </div>
    </div>
</div>
