@{
    ViewBag.Title = "Romantic";
}

<div class="container-fluid content_padding">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="list-group">
                <a href="~/Home/Baroque" class="list-group-item list-group-item-action">巴洛克音樂</a>
                <a href="~/Home/Classical" class="list-group-item list-group-item-action">古典主義音樂</a>
                <a href="~/Home/Romantic" class="list-group-item list-group-item-action active">浪漫主義音樂</a>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="col-12 col-md-12">
                <div class="item">
                    <h3>浪漫主義音樂（1813年～1914年）</h3>
                    <p>
                        在浪漫主義時期，音樂變得更具表達力及情感化，並擴展到文學，藝術和哲學範疇。浪漫主義時期早期的著名作曲家包括羅伯特·舒曼、弗雷德里克·蕭邦、費利克斯·孟德爾頌·巴托爾迪、溫琴佐·貝利尼及埃克托·白遼士。

                        19世紀後期出現了管弦樂團戲劇性的擴張，音樂會成為了城市文化的一部份。後半個世紀的著名作曲家包括小約翰·史特勞斯、布拉姆斯、李斯特·費倫茨、柴可夫斯基、威爾第及理察·華格納。1890年至1910年，第三波的作曲家包括德弗札克、馬勒、理察·史特勞斯、普契尼。西貝流士以浪漫主義時期中期作曲家的作品為基礎，創作出更複雜及更長的音樂作品。19世紀後期的音樂有一個重要標志，就是它對民族主義的熱情，例子有德弗札克、西貝流士及葛利格。
                        其他19世紀後期的顯赫人物包括卡米爾·聖桑、加布里埃爾·佛瑞、拉赫曼尼諾夫及弗蘭克。
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-12" align=center>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Frederic_Chopin_photo.jpeg/330px-Frederic_Chopin_photo.jpeg"
                     class="famous_Introduction img-thumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Mendelssohn_Bartholdy.jpg/330px-Mendelssohn_Bartholdy.jpg"
                     class="famous_Introduction img-thumbnail">
            </div>
        </div>
    </div>
</div>
